@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');


/* common css  */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  
}

.font-sora {
  font-family: "Sora", serif;
  font-optical-sizing: auto;
  /* font-weight: 500; */
  font-style: normal;
}

.container {
  width: 80vw;
  margin: 0 auto;
}

.primary-btn  {
  background-color: rgba(255, 220, 38, 1);
  border: 0;
  width: 10rem;
  height: 4rem;
  border-radius: 5px;
  font-weight: 550;
}

.secondary-btn {
  border: 0;
  width: 10rem;
  height: 4rem;
  background-color: rgba(255, 249, 244, 1);
  border: 1px solid rgba(255, 220, 38, 1);
  border-radius: 5px;
  font-weight: 550;
}

.section-head {
  font-size: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;

}


html {
  font-size: 62.5%;
}

a {
  color: green;
}

.text-gray {
  color: rgba(17, 17, 17, 1);
}

.flex-row {
  display: flex
}

.flex-col {
  display: flex;
  flex-direction: column
}


/* header */

/* navbar  */

header {
  font-size: 2rem;
  
}

.logo {
  align-items: center;
}

.span-1 {
  color: yellow;
}

.navbar {
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  

}

.navbar-whole {
  background-color: rgba(255, 249, 244, 1);
}

.nav-link {
  margin: 0 10px;
}

.nav-reg {
  gap: 10px;
  align-items: center;
}


/* heder banner */

.banner {
  min-height: 100vh;
  background-image: url(/assets/cat-big.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom left;
}

.banner-desc {
  margin-top: 10px;
  /* background-color: red; */
  width: 40%;
}

.banner-desc p {
  margin: 25px 0;
}


/* categories */

#categories {
  margin-top: 10vh;
  margin-bottom: 10vh;
}


.category-cards {
  justify-content: space-between;
  /* gap: 10rem; */
}

.category-card {
  width: 10vw;
  height: 25vh;
  
  text-align: center;
  
  
  background-color: #F9DF8A;

  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
}

.category-card img {
  background-color: white;
  border-radius: 10px;
  /* width: 20px; */
  
  
}

.cat-img {
  width: auto;
}

/* trending pet products */

#trending {
  background-color: rgba(255, 249, 244, 1);

}

.trending-products {
  display: grid;
  grid-template-columns: 33% 1fr;
  gap: 40px;
  
}

.left-section {
  background-image: url(/assets/cute-pet-small.png);
  height: 100%;
  background-repeat: no-repeat;
  background-position: bottom right;

  background-color: #F9DF8A;

  /* background-size: cover; */

  width: 100%; /* or any desired width */
  aspect-ratio: 1 / 1;


  border-radius: 5px;

  justify-content: center;

}

.left-section {
  padding-left: 2rem;
  padding-top: 2rem;
}

.left-section h1 {
  font-size: 3rem;

}

.left-section p {
  font-size: 1.5rem;
  margin: 25px 0;
  width: 80%;
}

.left-section button {
  width: 25%;
  height: 8%;
  border: none;
  border-radius: 5px;
}

.right-section {
  /* background-color: red; */
  border-radius: 20px;


  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  gap: 10px;
}


.right-card-img {
  /* width: 100%; */
  justify-content: center;
  align-items: center;

}

.right-card {
  
  display: grid;
  grid-template-columns: 30% 1fr;
  /* align-items: center; */

  padding: 20px;
  gap: 20px;

  background-color: white;
  border-radius: 5px;


  box-sizing: border-box;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 10px;
  background: rgb(255, 255, 255);
  
}

.right-card-img {
  /* width: 30%; */
  background-color: rgba(255, 249, 244, 1);
  text-align: center;
}

.star-rating {
  font-size: 1.5rem;
}

/* width="2rem" height="2rem" */


.star-rating > span > svg {
  width: 1.5rem;
  height: 1.5rem;
}

.star-rating > span {
  margin-right: 0.5rem;
}
  
.right-card-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: left;

  font-size: 1.5rem;
  flex-wrap: wrap;
}

.right-desc-card {

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-size: 1rem;
}






@media (max-width: 576px) {
  html {
    font-size: 50%;
  }

  .container {
    width: 95%;
  }
  .nav-links {
    display: none;
  }

  .nav-reg {
    display: none;    
  }

  .banner-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  /* .banner-desc > p {
    margin: 100px;
    background-color: red;
  } */


  .category-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .category-card {
    width: 100%;
  }


  .trending-products {
    grid-template-columns: repeat(1, 1fr);
  }

  .star-rating {
    display: flex;
  }

  .right-section {
    grid-template-columns: repeat(2, 1fr);
  }

}